{% extends 'superapp/base.html' %}
{% load static %}


{% block datos %}
    
Agregar Producto

{% endblock datos %}



{% block estructura %}
    <h2>Buscar Empleados</h2>
    <form action="" method="post">
        {% csrf_token %}
        <p>Nombre: <input type="text" name="nombre" id="nombre"></p>
        <p>Apellido: <input type="text" name="apellido" id="apellido"></p>
        <p>Cargo: <input type="text" name="cargo" id="cargo"></p>
        <input type="submit" value="Grabar">

    </form>
{% endblock estructura %}
